.choose__content {
    position: relative;
    display: none;
}



.choose__content::before {
    width: 1280px;
    height: 577px;
    background-color: rgba(44, 52, 62, 1);
    position: absolute;
    top: 0px;
    content: '';
    z-index: -1;
}

.choose__title {
    width: 329px;
    height: 48px;
    font-size: 40px;
    font-family: 'Fraunces', 'Lora', serif;
    font-weight: 900;
    margin: 100px 475px 32px 475px;
    color: rgba(254, 252, 247, 1);
}

.choose__discrip {
    margin: 0px 370px;
    width: 540px;
    height: 80px;
    font-size: 16px;
    font-family: 'Barlow', Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(254, 252, 247, 1);
    margin-bottom: 86px;
}

.choose-coffee__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.choose-coffee__item {
    width: 350px;
    margin-left: 40px;
    margin-right: 30px;
    padding: 72px 48px 48px 47px;
    background-color: #0E8784;
    border-radius: 8px;
}

.choose-coffee__img {
    margin: 72px 143px 56px 87px;
}

.choose-coffee__title {
    margin-top: 56px;
    padding: 0px;
    text-align: center;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-family: 'Fraunces', 'Lora', serif;
    font-weight: 900;
    color: rgba(254, 252, 247, 1);
}

.choose-coffee__discrip {
    margin: 0px;
    margin-top: 24px;
    padding: 0px;
    text-align: center;
    width: 255px;
    height: 78px;
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(254, 252, 247, 0.6);
}