.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 45px;
}

.user__link {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-weight: 700;
    color: rgba(131, 136, 143, 1);
}